html, body{
    height: 100%;
}
#connectLabel{
    display: none;
}
#connectBar{
    margin: 0px;
    padding: 0px;
    height: 15%;
}
#connect{
    margin: 0px;
    height: 100%;
    padding: 0px;
}
#connect .label{
    
}
#rgbContainer{
    width: 100%;
    height: 45%;
    overflow: hidden;
}
#red, #green, #blue{
    height: 100%;
}
#userTouchpad img{
    vertical-align: middle;
}
#userTouchpad{
    width: 100%;
    height: 20%;
    background: #FFF;
    position: relative;
    text-align: center;
}
#layoutControlLabel{
    background: #FFEFAE;
    margin: 0px;
    height: 20%;
    padding: 0px;
    text-align: center;
    position: relative;
    font-family: "Open sans condensed",Arial,sans-serif;
    font-size: 2.2em;
    position: relative;
    font-weight: bold;
    width: 100%;
}